{% macro video(title, url, video, videothumb) %}
  {% set videotype = video | getVideoType %}
  {% set videoid = video | getVideoID(videotype) %}
  <figure class="build">
    <figcaption class="build-title">
      <h3>
        <a class="build-link"
           href="{{ url }}"
           target="_blank" rel="noopener">
          {{ title }}
        </a>
      </h3>
    </figcaption>
    {% if videotype == 'youtube' %}
      {% set dataSRC = 'https://img.youtube.com/vi/' + videoid + '/hqdefault.jpg' %}
      {% set class = 'YouTubeThumb' %}
    {% elseif videotype == 'twitchclip' or videotype == 'twitch' %}
      {% set dataSRC = videothumb | replace('%{width}', 480) | replace('%{height}', 360) %}
      {% set class = videotype + 'Thumb' %}
    {% endif %}
    {% if dataSRC %}
      <img width="480" height="360"
           src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 360 '%3E%3C/svg%3E"
           data-src="{{ dataSRC }}"
           alt="{{ title }}"
           tabindex="0"
           role="button"
           data-video="{{ videoid }}" class='{{ class }} thumb lazy' />
      {# {% elseif videotype == 'streamable' %} #}
      {# <img width="480" height="360" #}
      {# src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 360 '%3E%3C/svg%3E" #}
      {# data-src="{{ videothumb }}" #}
      {# loading="lazy" alt="" #}
      {# data-video="{{ video }}" #}
      {# class='{{ videotype }}Thumb thumb lazyload' /> #}
    {% else %}
      <div class="novideo">No video</div>
    {% endif %}
  </figure>
{% endmacro %}
