{% macro externalIcon(url) %}
  {% if not strIncludes(url, 'youtube.com') %}
    <svg class="icon-external" role="img" aria-hidden="true" width="1em" height="1em">
      <use xlink:href="#icon-external" />
    </svg>
  {% endif %}
{% endmacro %}

{% macro video(title, url, video, videothumb, author) %}
  {% set videotype = video | getVideoType %}
  {% set videoid = video | getVideoID(videotype) %}
  <figure class="build">
    <figcaption class="build-title">
      <h3>
        <a class="build-link"
           href="{{ url }}"
           target="_blank" rel="noopener noreferrer">
          {% if author %}<span class="build-author">{{ author }}</span> - {% endif %}{{ title }}&#8288;{{ externalIcon(url) }}
        </a>
      </h3>
    </figcaption>
    {% if videothumb['480w'] %}
      {% set dataSRC = videothumb['480w'] %}
      {% set dataSRCset = '' %}
      {% for size, url in videothumb %}
        {% if not _loop.first %}
          {% set dataSRCset = dataSRCset + ', ' %}
        {% endif %}
        {% set dataSRCset = dataSRCset + url + ' ' + size %}
      {% endfor %}
      {% if videotype == 'youtube' %}
        {% set dataSRC = dataSRC | replace('/vi/', '/vi_webp/') | replace('.jpg', '.webp') %}
        {% set dataSRCset = dataSRCset | replace('/vi/', '/vi_webp/') | replace('.jpg', '.webp') %}
        {% set class = 'YouTubeThumb' %}
      {% elseif videotype == 'twitchclip' or videotype == 'twitch' %}
        {% set class = videotype + 'Thumb' %}
      {% endif %}
      <div class="video-wrap">
        <img width="640" height="480"
             src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 360 '%3E%3C/svg%3E"
             data-src="{{ dataSRC }}"
             data-srcset="{{ dataSRCset }}"
             alt="{{ title }}"
             tabindex="0"
             role="button"
             data-video="{{ videoid }}" class='{{ class }} thumb lazy' />
      </div>
    {% else %}
      <a class="novideo" href="{{ url }}" target="_blank" rel="noopener noreferrer">No video</a>
    {% endif %}
  </figure>
{% endmacro %}
