{% set eleventyVersion = pkg.devDependencies['@11ty/eleventy'] | replace("^", "") %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="generator" content="Eleventy v{{ eleventyVersion }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="robots" content="index,follow">
  <meta name="description" content="{{ description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ title }} | {{ siteparams.siteTitle }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ siteparams.siteURLforOG }}{{ page.url }}" />
  <meta name="twitter:creator" content="@Razunter">
  <link rel="stylesheet" href="{{ "/assets/main.bundle.css" | url }}">
</head>
<body>
<header>
  <h1>{{ title }}</h1>
</header>
<main>
  {{ content | safe }}
</main>
<footer>
</footer>
<script async src="{{ "/assets/main.bundle.js" | url }}"></script>
</body>
</html>
