---
import Build from '@src/components/Build.astro'
import { type BuildDataType, type VersionDataType } from '@src/types.ts'

type Props = {
  collection: VersionDataType['buildList'][number] | undefined
}

const { collection } = Astro.props as Props

const filteredBuilds: BuildDataType[] = []
const filteredBuildsNoVideo: BuildDataType[] = []
if (collection) {
  for (const build of collection.builds) {
    if (build.videothumb?.['480w']) {
      filteredBuilds.push(build)
    } else {
      filteredBuildsNoVideo.push(build)
    }
  }
}
---

{
  filteredBuilds.map((build) => {
    return <Build build={build} />
  })
}

{
  filteredBuildsNoVideo.length > 0 && (
    <div class="build build--novideo">
      <div class="build-title">
        <h3>No video</h3>
      </div>
      <ul>
        {filteredBuildsNoVideo.map((build) => {
          return (
            <li>
              <a
                class="build-link"
                href={build.url}
                target="_blank"
                rel="noopener"
              >
                {build.author && (
                  <>
                    <span class="build-author">{build.author}</span> -{' '}
                  </>
                )}
                {build.title}
              </a>
            </li>
          )
        })}
      </ul>
    </div>
  )
}
