---
# @formatter:off
pagination:
    data: versions.versions
    size: 1
    alias: version
renderData:
  title: Path of Exile {{ version.version }} {{ version.name }} starter builds collection (Razunter's picks)
  description: Quick preview of starter builds for Path of Exile v{{ version.version }} {{ version.name }}, collected by Razunter
permalink: "{% if version.version == versions.currentVersion %}index{% else %}old-{{ version.version | slug }}{% endif %}.html"
# @formatter:on
---
{% extends 'layouts/base.njk' %}
{% import "macros.njk" as macros %}
{% set thisVersion = version.version %}
{% set data = ('data-' + thisVersion) | getVarFromString %}

{% block nav %}
  <div hidden>{% svgSprite %}</div>
  <nav class="mainnav" aria-label="Main navigation">
    <ul>
      {% for typekey, typename in data.types %}
        {% if (typekey != 'rf') or not version.skiprf %}
          <li>
            <a href="#{{ typekey }}" title="{{ typename }}">
              <svg class="icon" role="img" aria-hidden="true">
                <use xlink:href="#icon-{{ typekey }}" />
              </svg>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block header %}
  <h1>
    Path of Exile
    {% if version.url %}
      <a href="{{ version.url }}" target="_blank" rel="noopener">{{ thisVersion }} {{ version.name }}</a>
    {% else %}
      {{ thisVersion }} {{ version.name }}
    {% endif %}
    starter builds collection (Razunter's picks)
  </h1>
  {% if version.wip or version.note %}
    <div
      class="subtitle">{% if version.wip %}Work in Progress!{% endif %}{% if version.note %} {{ version.note }}{% endif %}</div>{% endif %}
  {% if thisVersion != versions.currentVersion %}
    <div class="subtitle">old version, new version <a
        href="index.html">here</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for typekey, typename in data.types %}
    {% if (typekey != 'rf') or not version. skiprf %}
      <section id="{{ typekey }}" class="section">
        <h2 class="section-title">
          <svg class="icon" role="img" aria-hidden="true">
            <use xlink:href="#icon-{{ typekey }}" />
          </svg>
          {{ typename }}
        </h2>
        <div class="builds-collection">
          {% set buildList = data.buildList | selectAttrEq("type", typekey) | first %}
          {% for build in buildList.builds %}
            {% if (build.versions | select("equalto", thisVersion) | length != 0) and not build.skip %}
              {{ macros.video(build.title, build.url, build.video, build.videothumb, build.author) }}
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block footer %}
  <ul class="previous-links">
    <li class="nav-description">Version:</li>
    {% for v in versions.versions | limit(3) | reverse %}
      {% if v.version == thisVersion %}
        <li class="active">
      {% else %}
        <li>
      {% endif %}
      {% if loop.first %}
        <a href="index.html">Current ({{ v.version }})</a>
      {% else %}
        <a href="old-{{ v.version }}.html">{{ v.version }}</a>
      {% endif %}
      </li>
      {% if not loop.last %}
        <li class="separator">|</li>{% endif %}
    {% endfor %}
  </ul>
  <ul class="footer-links">
    <li>
      <a href="https://www.pathofexile.com/" target="_blank" rel="noopener">Path of Exile</a>
    </li>
    <li>
      Site created by <a href="mailto:razunter@gmail.com"
                         title="razunter@gmail.com">Razunter</a>
    </li>
  </ul>
{% endblock %}
